
body{
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  font-family:Leelawadee UI;
  background-color: #141414ff;
  color: rgb(223, 223, 223);
}
.home
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 90vh; /*86vh*/
  width: 95vw;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
}
.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo h3
{
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}
.menu ul
{
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.menu ul li
{
  color:rgb(223, 223, 223) ;
  list-style: none;
  margin: 20px;
  padding-left: 40px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
}
.menu ul li:hover
{
  color: #0ca1b2ff;
  transition: 0.3s ease;
}
.nav_links
{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type = checkbox]
{
  display: none;
}
.hamburger
{
  display: none;
  user-select: none;
  font-size: 24px;
  margin-right: 10px;
}
.home_content
{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.writeup1
{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.welcome
{
  margin: 10px;
  border-radius: 5px;
  border: #0ca1b2ff 2px solid;
  padding: 5px;
  height: fit-content;
  width: fit-content;
}
.welcome h4{
  margin: 0px;
}
.span3
{
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation:typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30,end);
  animation-fill-mode: forwards;
}

.me
{
  margin: 10px;
  height: fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.p1,.p2,.p3{
  margin: 0px;
}
.p1
{
  font-size: 24px;
  font-weight: bolder; 
}
.p2
{
  font-size: 42px;
  font-weight: bolder; 
}
.p3
{
  font-size: 36px;
  font-weight: bolder; 
  display: inline-block;
  
}
.p3 span{
  color: #0ca1b2ff;
}
.fixed
{
  display: inline;
  font-size: 32px;
  font-weight: bolder;
}
.animated
{
  display: inline;
  font-size: 32px;
  font-weight: bolder;
}
.animated span
{
  position: relative;
  color:#0ca1b2ff;
}
.animated span:after
{
  content: "";
  position: absolute;
  border-left: 2px solid #0ca1b2ff;
  left: 0;
  height: 100%;
  right: -20px;
  background-color: #141414ff;
  animation: 3s textType;
  transition-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(40);
  animation-fill-mode: backwards;
}
@keyframes textType
{
  0%
  {
    left: 0;
  }
  50%
  {
    left: 100%;
  }
  100%
  {
    left: 0;
  }
}

.start button
{
  border: 0px;
  margin: 10px;
  color: #141414ff;
  background-color: #0ca1b2ff;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
}
.start button a
{
  color: #121212;
}
.home_photo
{
  /*background-color: grey;  /* blue : #0ca1b2ff  */
  margin: 30px;
  display: flex;
  justify-content:center;
}
.img_photo
{
  height: 400px;
  width: 400px;
  border-radius: 400px;
  border: #0ca1b2ff 5px solid;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
}
.photo
{
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.about
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 90vh; /*86vh*/
  width: 95vw;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about_photo
{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(172, 113, 35);*/
  
}
.writeup2
{
  height: 70vh;
  padding: 20px;
  /*background-color: rgb(190, 70, 70);*/
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.aboutme
{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.aboutme h3{
  margin: 5px;
}
.para
{
  font-size: 16px;
}
.skills
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 90vh; /*86vh*/
  width: 95vw;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.skill_title
{
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
}
.skill_title h2
{
  margin: 0px;
}
.skill_content 
{
  margin: 10px;
}
.skill_content p{
  margin-bottom: 10px;
}
.skillbox
{
  /*background-color: blueviolet;*/
  padding: 10px;
  display: grid;
  max-width: 1200px;
  margin:  0 auto;
  gap: 5rem;
}
.skill1,.skill2, .skill3, .skill4, .skill5, .skill6
{
  height: fit-content;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill1 p,.skill2 p,.skill3 p,.skill4 p,.skill5 p,.skill6 p
{
  margin: 0px;
  font-size: 20px;
}
.icon1 div[role="progressbar"],.icon2 div[role="progressbar"],.icon3 div[role="progressbar"],.icon4 div[role="progressbar"],.icon5 div[role="progressbar"],.icon6 div[role="progressbar"]
{
  --s:100px;
  animation: growProgressBar 3s 1 forwards;
  --pgPercentage: var(--value);
  width:var(--s);
  height: var(--s);
  border-radius: var(--s);
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #091719ff 80%, transparent 0 99.9%, #091719ff 0),conic-gradient(#0ca1b2ff calc(var(--pgPercentage)*1%), #091719ff 0);
  color: #0ca1b2ff;
  font-size: calc(var(--s)/5);
}
.interest
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 90vh; /*86vh*/
  width: 95vw;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.interest_title
{
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 10px;
}
.interest_title h3
{
  margin: 0px;
}
.int_para
{
  margin-left:10px;
  margin-right:10px;
}
.gallery1
{
  display: grid;
  width: auto;
  margin:  0 auto;
  gap: 0rem;
}
.interest_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
}
.interest_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: 200px ; /*calc(33.33333% - 30px)*/
  margin: 0 10px 10px;
  overflow: hidden;
  border-radius: 28px;
  height: auto;
  width: fit-content;
}
.interest-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  
}
.interest-item_link:hover,.interest-item_link:hover 
{
  text-decoration: none;
  color: #fff;
}
.interest-item_link:hover .interest-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.interest-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.interest-item_bg {
  height: 128px;
  width: 128px;
  background-color: #0ca1b2ff;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


@media only screen and (max-width: 979px) {
  .interest_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .interest-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .interest-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .interest_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .interest-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .interest-item_link {
    padding: 22px 40px;
  }
 
}
.works
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 86vh;
  width: auto;
  box-shadow: rgba(6, 223, 9, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: 90vh; /*86vh*/
  width: 95vw;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.contact_title
{
  font-size: 36px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
}
.contact_title h2
{
  margin: 0px;
}
.writeup3
{
  height: 70vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form
{
  /*background-color: blueviolet;*/
  padding: 10px;
  display: grid;
  justify-content: center;
  max-width: 1200px;
  margin:  0 auto;
  gap: 4px;
  
}
.formname,.mailname
{
  display: flex;
  flex-direction: row;
}
.ftname,.ltname,.mail,.phno
{
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: #0ca1b2ff 2px solid;
  border-radius: 4px;
  color: rgb(223, 223, 223);
}
.text
{
  width: 635px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: #0ca1b2ff 2px solid;
  border-radius: 4px;
  color: rgb(223, 223, 223);
}
.submit 
{
  justify-self: center;
  height: fit-content;
  width: 80px;
  border: 0px;
  background-color: #0ca1b2ff;
  color: #141414ff;
  border-radius: 20px;
  padding: 10px;
}
button [type="submit"]
{
  height: fit-content;
  width: auto;
  background-color: #0ca1b2ff;
  color: #121212;
  border-radius: 10px;
  padding: 5px;
}
.social
{
  
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.linkedin,.git,.insta
{
  border-radius: 5px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  height: fit-content;
}
.linkedin img,.git img,.insta img
{
  border-radius: 5px;
  height: 30px;
  width: auto;
}
.linkedin img:hover,.git img:hover,.insta img:hover
{
  
  height: 30px;
  width: auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.linkedin img:hover
{
  background-color: rgb(3, 43, 123);
}
.git img:hover
{
  background-color: rgb(97, 97, 97);
}
.insta img:hover
{
  background-color: rgb(200, 1, 127);
}
footer
{
  margin: 10px;
  margin-bottom: 30px;
  background: #091719ff;
  height: fit-content; /*86vh*/
  width: 95vw;
  padding: 0px;
  box-shadow: rgba(5, 86, 95, 0.841) 5px 5px 60px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h3
{
  margin-top: 10px;
  margin: 5px;
}
footer h4
{
  margin: 5px;
  margin-bottom: 10px;
}

/*----Bootstraping-----*/

@media (max-width: 768px)
{
  body 
  {
    width: 100vw;
  }
  .menu
  {
    display: none;
    position: absolute;
    background-color: #0ca1b2ff;
    right: 0%;
    left: 0%;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover
  {
    display: inline-block;
    transition: 0.3s ease;
  }
  .menu ul li
  {
    display: block;
    line-height: 30px;
  }
  #toggle:checked~ ul
  {
    left: 0;
  }
  .menu  a:hover,a:active
  {
    color: #0ca1b2ff;
  }
  .menu li+li
  {
    margin-top: 12px;
  }
  input[type = checkbox]:checked~
  {
    display: block;
  }
  .hamburger
  {
    display: block;
  }
  .home,.about,.skills,.interest,.contact
  {
    width: auto;
    margin: 10px;
  }
  .content
  {
    flex-direction: column-reverse;
  }
  .p1{
    font-size: 18px;
  }
  .p2
  {
    font-size: 30px;
  }
  .p3
  {
    font-size: 22px;
  }
  .fixed
  {
    font-size: 22px;
  }
  .animated
  {
    font-size: 22px;
  }
  .img_photo
  {
    height: 130px;
    width: 130px;
    border-radius: 130px;
  }
  .photo
  {
    height: 130px;
    width: 130px;
  }
  .about_photo
  {
    display: none;
  }
  .writeup2{
    justify-content: center;
    align-items: center;
  }
  .aboutme h3
  {
    font-size: 22px;
  }
  .para
  {
    font-size: 12px;
  }
  .skill_title
  {
    font-size: 22px;
  }
  .skill_title h2
  {
    margin: 0px;
  }
  .skill_content p{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skillbox
  {
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }
  .icon1 div[role="progressbar"],.icon2 div[role="progressbar"],.icon3 div[role="progressbar"],.icon4 div[role="progressbar"],.icon5 div[role="progressbar"],.icon6 div[role="progressbar"]
  {
  --s:50px;
  }
  .interest_title
  {
    font-size: 22px;
  }
  .int_para
  {
    font-size: 12px;
  }
  .interest_item 
  {
    flex-basis: 150px ; /*calc(33.33333% - 30px)*/
  }
  .interest-item_title {
    min-height: 50px;
    margin: 0 0 25px;
    font-size: 16px;
  }
  .form
  {
    grid-template-columns: repeat(1,1fr);
  }
  .gallery1
  {
    grid-template-columns: repeat(2,1fr);
  }
  .contact_title
  {
    font-size: 22px;
  }
  .formname,.mailname
  {
    flex-direction: column;
  }
  .ftname,.ltname,.mail,.phno,.text
  {
    width: 200px;
    height: auto;
    
  }
    footer
  {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
}

@media (min-width: 900px)
{
    .content
  {
    flex-direction: row;
  }
  .skillbox
  {
    grid-template-columns: repeat(3,1fr);
  }
  .gallery1
  {
    grid-template-columns: repeat(3,1fr);
  }
  .form
  {
    grid-template-columns: repeat(2,1fr);
  }
}

/*----Animations-----*/

